<li>
    <div class = "products">
      <div class = "product">
        <h4>
          <b><%=product.name %></b>
        </h4>
        <% if product.image_name %>
        <p><%= image_tag product.image_name%><br />
      <%end%>
        <b>Description: </b><%=product.description%><br />
        <b>Price: </b>$<%=product.price%><br />
        <b>Stock: </b> <%=product.stock_quantity%><br /></p>
        <button>Add to cart</button>
      </div>
    </div>
</li>
