<header>
  <%=image_tag "wallys_watches_store.png" %>
  <strong>Wally's Watches is your source of wonderful watches</strong>
  <h2>Product Categories</h2>
  <ul class = "categories">
    <li>Sports Watches</li>
    <li>Luxury Watches</li>
    <li>Special Design Watches</li>
    <li>All Products</li>
  </ul>
  <div id = "search">
  <%= form_tag search_results_path do%>
    <%=text_field_tag :keywords %>
    <%=select_tag :search_category_names, options_for_select(@categories.collect{ |category| [category.name, category.id] }) %>
    <%=submit_tag 'Search'%>
  <%end%>
  </div>
</header>
<body>
  <h2>Product On Sale !</h2>
  <div class = "new_product">
    <p><%= image_tag @sale.image_name%><br />
      <b>Name: </b> <%= @sale.name %><br />
      <b>Description: </b><%=@sale.description%><br />
      <b>Price: </b>$<%=@sale.price%><br />
      <b>Stock: </b> <%=@sale.stock_quantity%><br />
    </p>
    <button>Add to cart</button>
  </div>
   <h2>Latest Products</h2>
   <ul class = "latest_products">
      <%= render @products %>
   </ul>
</body>
<footer>
  <ul class = "links">
    <li><%=link_to 'Home Page', root_path%></li>
    <li><%=link_to 'About Page', about_path%></li>
    <li><%=link_to 'Contact Page', contact_path%></li>
  </ul>
</footer>


