<header>
  <%=image_tag "wallys_watches_store.png" %>
  <strong>Wally's Watches is your source of wonderful watches</strong>
  <h2>Product Categories</h2>
  <ul class = "categories">
    <li>Sports Watches</li>
    <li>Luxury Watches</li>
    <li>Special Design Watches</li>
    <li>All Products</li>
  </ul>
  <div id = "search">
    <%=text_field_tag "search" %>
    <%=submit_tag "search"%>
  </div>
</header>
<body>
  <div class = "new_product">
   <h2>Latest Products</h2>
  <%= render @products %>
  </div>
</body>
<footer>
  <ul class = "links">
    <li><%=link_to 'Home Page', root_path%></li>
    <li><%=link_to 'About Page', about_path%></li>
    <li><%=link_to 'Contact Page', contact_path%></li>
  </ul>
</footer>


